    html, body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
            'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
        padding:0;
        margin: 0 auto;
        overflow: auto;                           
    }
    .ui-container {
        display: flex;
        flex-direction: row;           
        overflow: hidden;                   
    }
    .resource-pane {
        flex: 0 0 auto;  
        padding: 0px;
        width: 300px;
        max-width:75%;
        min-width: 20%;
        background-color: #cbc5c1;
        color: #3E3E3B;
    }
    .splitter {
        flex: 0 0 auto;
        width: 4px;
        background: center center no-repeat #535353;
        cursor: col-resize;
    }
    .visualisation-pane {
        flex: 1 1 auto; 
        padding: 0px;
        width: 100%;
    }
    .panel { 
        background-color: #fff;
    }
    .menu {
        background-color: #cbc5c1;
        color: #3E3E3B;
    }
    .menu a { color: #fff; }
    .menu a:hover { text-decoration: underline; }
    .menu-header {
        border-bottom: 1px solid #2a2d2f;
        padding: 20px;
        background-size: 32px;
    }
    .menu-header-title {
        font-weight: 400;
        letter-spacing: 0.5px;
        margin: 0;
    }
    .menu-section { margin: 25px 0; }

    .menu-section-title {
        text-transform: uppercase;
        color: #85888d;
        font-weight: 200;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0 20px;
        margin:0;
    }

    .menu-section-list {
        padding:0;
        margin: 10px 0;
        list-style:none;
    }

    .menu-section-list a {
        display: block;
        padding: 10px 20px;
    }
    .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
        left: auto
    }
    .slideout-panel {
        position:relative;
        z-index: 1;
        will-change: transform;
    }
    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {  }
    .slideout-open .slideout-menu { display: block; }
    .btn-hamburger {
        border: none;
        position: absolute;
        top: 5px;
        left: auto;
        right: 5px;
        outline:none;
        background: no-repeat center;
        width: 50px;
        height: 50px;
        z-index:1000;
    }
    .ui-dialog { z-index: 101 !important; }	
	.upload-span {
	    display: inline-block;
	    position: relative;
	}
	
	.upload-button {
		bottom: 0;
		font-size: 1000px !important;
		margin: 0;
		position: absolute;
		overflow: hidden;
	}

    #cy {
        position: relative;
        top: -200px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        min-height: 100vh;
    }

    .resource_pane_tab_head {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    .resource_pane_tab_head button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .resource_pane_tab_head button:hover {
        background-color: #ddd;
    }

    .resource_pane_tab_head button.active {
        background-color: #ccc;
    }

    .resource_pane_tab_content {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }

